{% extends "base.html" %}

{% block title%}知了传课-首页{%endblock%}

{% block head%}

    <link rel="stylesheet" href="../static/css/index.css">
{% endblock%}

{%block body%}
     <div class="row" style="margin-top: 20px;">
            <div class="col"></div>
            <div class="col-10">
                <ul class="question-ul">
                    {% for question in questions %}
                        <li>
                        <div class="side-question">
                            <img class="side-question-avatar" src="../static/images/avatar.jpg" alt="">
                        </div>
                        <div class="question-main">
                            <div class="question-title"><a href="{{url_for('qa.qa_detail',qa_id = question.id)}}">{{question.title}}</a></div>
                            <div class="question-content">{{ question.content}}</div>
                            <div class="question-detail">
                                <span class="question-author">{{question.author.username}}</span>
                                <span class="question-time">{{question.create_time}}</span>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col"></div>
        </div>
{% endblock %}

